{% extends 'base.html'%}
<title>Confirmar direccion</title>

{% block breadcrumb %}
    {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content%}
    <div class="col-8">
        <div class="h3">
            Confirma tu pedido
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="font-weight-bold">
                            Direccion de envio
                        </div>
                        <div class="cart-text">
                            <span>Lugar:</span> {{ shipping_address.address }}
                        </div>
                        <div class="cart-text">
                            <span>Direccion:</span> {{ shipping_address.line1 }}
                        </div>
                        <div class="cart-text">
                            <span>Descripcion:</span> {{ shipping_address.reference }}
                        </div>
                        <div class="cart-text">
                            <span>Codigo postal:</span> {{ shipping_address.postal_code }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">
                           <span>Metodo de pago</span> 
                        </div>
                        <div class="card-text">
                            <span>Tarjeta terminacion 4242</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="font-weigth-bold">
                            <span>Codigo promocional</span>
                        </div>
                        <form id="promocode-form" action="{% url 'promo_codes:validate'%}">
                            <input type="text" name="code" value="" class="form-control" placeholder="Codigo promocional">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-header">
                    {%if cart.productos.all.count > 1%}
                    <div class="mb-2">
                        <h2><span class="fas fa-list"></span> Productos</h2>
                    </div>
                    {%else%}
                    <div class="mb-2">
                        <h2><span class="fas fa-list"></span> Producto</h2>
                    </div>
                    {%endif%}
                </div>
                <div class="card-body">
                    {%for producto in cart.productos.all%}
                        {% include 'orders/snippets/producto.html' %}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        {% url 'orders:complete' as next_url%}
        {% include "orders/snippets/resume.html" with next_url=next_url %}
        <div class="mt-2">
            <a href="{% url 'orders:cancel'%}" class="btn btn-danger"> Cancelar orden</a>
        </div>
    </div>
{%endblock%}

{% block javascript %}
    <script>
        const form = document.getElementById("promocode-form")

        form.addEventListener("submit", function(e){
            e.preventDefault()//prevenimos que haga el submit

            const input = this.code
            const code = input.value
            const url = this.action + "?code=" + code
            console.log(url)
            fetch(url)
                .then(response => response.json())
                .then(response => {
                    console.log(response.discount)
                })
        })
    </script>
{% endblock %}